@import 'index';

.ActionCard {

    color: white;
    * { margin: 0px; }
    @include flexbox(column, nowrap, space-between, flex-start);

    .img {
        z-index: -1;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        position: absolute;

        background-size: cover;
        background-repeat: no-repeat;

        &:before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.2);
        }
    }

    $margin: 24px;
    p {
        border-left: 5px solid;
        padding-left: 12px;
        margin-bottom: 16px;

        font-size: 16px;
        font-weight: 200;
    }

    a {
        $width: 100px;
        $height: 48px;

        display: block;
        align-self: flex-end;

        width: $width;
        height: $height;
        border-radius: 5px;

        font-size: 16px;
        font-weight: 400;
        text-align: center;
        line-height: $height;

        transition: all 0.2s ease-out;
    }
    a:hover { 
        cursor: pointer;
        box-shadow: 0px 4px 4px 0px rgba(80, 80, 80, 0.8);
    }
}
