@import 'index';

header { display: none; }

.app {

    * { margin: 0px; }

    > section {
        margin-top: 24px;
        padding: 0px 20px;

        > .title {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 16px;
        }

        > p {
            font-size: 16px;
            font-weight: 500;
            line-height: 1.6;
            margin-bottom: 12px;
        }
        > p:last-child { margin-bottom: 0px; }
    }

    > .cards
    {
        padding: 0px 12px;
        @include flexbox(column, wrap, center, center);

        .ActionCard { 
            position: relative; 
            margin-bottom: 12px;

            width: 100%;
            min-height: 140px;

            padding: 12px;
            padding-left: 16px;

            // Assume default portrait            
            @media (orientation: landscape) {
                width: 65%;
                &:nth-child(odd)  { left: -40px; }
                &:nth-child(even) { left: 40px; }
            }
        }
        .ActionCard:last-child { margin: 0px; }
    }
}
