@import 'index';
.events {
    margin: 0 auto;
}

.Event {
    border: 1px #CFD8DC solid;
    padding: 5px 5px 5px 0px;
    margin: 5px;

    @include flexbox(row, nowrap, flex-start, flex-start);

    .name {
        font-size: 20px; 
        margin-bottom: 4px;
        font-weight: 700;
    }


    .location-text, .time-text {
      vertical-align: top;
    }

    .material-icons {
      padding-right: 5px;
    }

    // there is probably a better way to do this
    .clock-icon {
        position: relative;
        top: 1px;
    }

    .location-icon {
      color: red;
    }

    .date {
        align-self: center;
        @include flexbox(column, nowrap, space-between, stretch);
        text-align: center;
        min-width: 120px;
        color: #8D8D8D;

        .day {
            font-size: 32px;
        }
    }
    
    .location, .time {
        @include flexbox(row, nowrap, flex-start, stretch);
    }
}

@media #{$tablet} {
    .events {
        max-width: 680px;
    }
}

@media #{$mobile} {
    .Event {
        @include flexbox(column, nowrap, flex-start, flex-start);
        padding-left: 5px;

        .date {
            @include flexbox(row, nowrap, flex-start, flex-start);
            min-width: 100%;
            font-size: 16px;
            line-height: 24px;
            .day {
                font-size: inherit;
                &:after {
                    content: ',\00a0';
                    display: inline-block;
                }
            }
            & > div:not(.day):after {
                content: '\00a0';
                display: inline-block;
            }
        }
    }
}


