// Mixins
@mixin tinted-background-image($url, $tint)
{
    background-image: linear-gradient($tint, $tint), url($url);
}

@mixin flexbox($dir, $wrap, $justify, $align)
{
    display: flex;
    flex-flow: $dir $wrap;
    justify-content: $justify;
    align-items: $align;
}


// Global
* {
    margin: 0px;
    padding: 0px;

    font-family: 'Montserrat', 'Arial', sans-serif;
}

ul, ol {
    list-style: none;
}
