
$navHeight: 56px;

.headroom-wrapper {
    width: 100%;
    position: absolute;
}

.headroom {
    width: inherit;
    height: $navHeight;

    z-index: 100;
    transition: all 200ms ease-out;

    // Children
    color: white;
    .logo { display: none; }

    i.menu {
        position: relative;
        top: 16px;
        left: 16px;
        font-size: 24px;
    }

    ul { display: none; }
}

// From top of page (scroll = 0) to height of nav.
// Mutually exclusive with below classes.
.headroom--unfixed {
    background-color: clear;
}

// Activated once scroll > navHeight, until scroll becomes 0 again.
// Will always be active together with either --unpinned or --pinned.
.headroom--scrolled {
    position: fixed;
    background-color: black;
}

// Activated with --scrolled first time, then whenever scrolled down.
// Mutually exclusive with --pinned.
.headroom--unpinned {
    top: -$navHeight;
}

// Only activated after --unpinned as been active once, then whenever scrolled up.
// Mutually exclusive with --unpinned.
.headroom--pinned {
    top: 0px;
}
