@import 'index';

$navHeight: 56px;
$animationDuration: 0.2s;

.headroom-wrapper {
    width: 100%;
    position: fixed;
}

.headroom {
    width: inherit;
    height: $navHeight;

    z-index: 10;
    transition: all 200ms ease-out;

    // Children
    color: white;

    * { margin: 0px; }
    .logo { display: none; }

    .button {
        z-index: 12;
        width: $navHeight;
        height: inherit;
        position: relative;

        cursor: pointer;
        transition: all $animationDuration linear;
        i {
            font-size: 24px;
            top: 16px;
            left: 16px;
            position: absolute;
            transition: opacity $animationDuration linear;
        }
        i.menu  { opacity: 1; }
        i.clear { opacity: 0; }
    }
    .button.active {
        transform: rotate(180deg);
        i.menu  { opacity: 0; }
        i.clear { opacity: 1; }
    }

    nav {
        top: 0px;
        right: 0px;
        position: absolute;

        z-index: 11;
        height: inherit;
        overflow-x: scroll;

        left: 100%;
        &.active { left: $navHeight; }
        transition: left $animationDuration ease-out;
    }

    ul {
        width: fit-content;
        height: inherit;
        font-size: 16px;
        font-weight: 300;

        @include flexbox(row, nowrap, left, center);
        li { margin: 0px 20px; }
    }
}

// From top of page (scroll = 0) to height of nav.
// Mutually exclusive with below classes.
.headroom--unfixed {
    background-color: clear;
}

// Activated once scroll > navHeight, until scroll becomes 0 again.
// Will always be active together with either --unpinned or --pinned.
.headroom--scrolled {
    background-color: black;
}

// Activated with --scrolled first time, then whenever scrolled down.
// Mutually exclusive with --pinned.
.headroom--unpinned {
    top: 0px;
}

// Only activated after --unpinned as been active once, then whenever scrolled up.
// Mutually exclusive with --unpinned.
.headroom--pinned {
    top: 0px;
}
