@import 'index';

$animationDuration: 120ms;
$navHeight: 72px;
.body.showNav { padding-top: $navHeight; }
.headroom {
    width: inherit;
    height: $navHeight;
    position: relative;
    transition: all $animationDuration ease-out;

    .background {
        z-index: 1;

        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    // Children
    color: white;

    * {
        z-index: 2;
        margin: 0px;
    }
    .logo { display: none; }

    .button {
        z-index: 12;
        width: $navHeight;
        height: inherit;
        position: relative;

        cursor: pointer;
        transition: all $animationDuration linear;
        i {
            font-size: 24px;
            top: 24px;
            left: 24px;
            position: absolute;
            transition: opacity $animationDuration linear;
        }
        i.menu  { opacity: 1; }
        i.clear { opacity: 0; }
    }
    .button.active {
        transform: rotate(180deg);
        i.menu  { opacity: 0; }
        i.clear { opacity: 1; }
    }

    nav {
        top: 0px;
        right: 0px;
        position: absolute;

        height: inherit;
        overflow-x: scroll;

        left: 100%;
        &.active { left: $navHeight; }
        transition: left $animationDuration ease-out;
    }

    ul {
        width: fit-content;
        height: inherit;
        font-size: 16px;
        font-weight: 300;

        @include flexbox(row, nowrap, left, center);
        li {
            margin: 0px 8px;
            padding: 0px 12px;
        }
    }
}

.headroom-wrapper {
    z-index: 10;
    width: 100%;

    top: 0px;
    position: fixed;
}

// From top of page (scroll = 0) to height of nav.
// Mutually exclusive with below classes.
.headroom--unfixed {
    top: 0px;
}

// Activated once scroll > navHeight, until scroll becomes 0 again.
// Will always be active together with either --unpinned or --pinned.
.headroom--scrolled {}

// Activated with --scrolled first time, then whenever scrolled down.
// Mutually exclusive with --pinned.
.headroom--unpinned {
    top: 0px;
}

// Only activated after --unpinned as been active once, then whenever scrolled up.
// Mutually exclusive with --unpinned.
.headroom--pinned {}


@media #{$tablet}
{
    .headroom {
        height: $navHeight;
        padding-left: 20px;
        padding-right: 12px;

        @include flexbox(row, nowrap, space-between, center);

        .button { display: none; }
        .logo { 
            display: block;
            width: 160px;
            height: auto;
        }

        nav { position: static; }
    }
}

@media #{$desktop}
{
    $navHeight: 88px;
    .body.showNav { padding-top: $navHeight; }
    .headroom {
        height: $navHeight;
        padding-right: 20px;

        .logo { width: 180px; }
        nav {
            li {
                height: 50%;
                position: relative;

                font-size: 18px;
                @include flexbox(column, nowrap, center, center);
            }
            li:before {
                content: "";
                
                top: 0px;
                left: 0px;
                right: 0px;
                position: absolute;

                height: 4px;
                max-height: 0px;
                background-color: white;
                transition: all 0.1s linear 0s;
            }
            li:hover:before { max-height: 3px; }
        }
    }
}
